*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.start{
    background-color: #212529;
    color: #FFFFFF;
    width: 100%;
    height: 9vh;

}
.welcome{
    display: inline;
    color: #7C939E;
}

.text-white{
    color: #FFFFFF;
}

.ul{
   float: right;
}
.h3{
    float: left;
}
.pt-1{
    padding-left: 8.8%;
    padding-top: 1.2%;
}

.pt-2{
    padding-right: 9.3%;
}

.btn{
    width: 23%;
    height: 6vh;
    border: none;
    display: inline-block;
    background-color: #0D6EFD;
    color: #F0FFFF;
    border-radius: 8%;
}

.float-right{
    float: right;
}

.padding3{
    padding: 0 0 0 740px;
}
.padding4{
    padding: 0 0 0 0px;
}
.end-text{
    
}

.name{
    padding-top: 5%;
    padding-right: 18%;
    margin: 0;
}

.img{
    width: 700px;
    height: 310px;
    padding-left: 9%;
    padding-top: 4%;
    border-radius: 4%;
}